.flex-container-col {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: stretch;
    align-items: center;
    align-content: stretch;
}

.tacotab-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
    height: auto;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 1;
}