@* 
Adapted from https://opengameart.org/content/flying-dragon-rework
Original author: https://opengameart.org/users/antumdeluge
https://creativecommons.org/licenses/by/3.0/
*@
<div class="dragon"></div>